* {
  box-sizing: border-box;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

body {

}


ul {
  display: flex;
}

ul li {
  list-style-type: none;
}

ul li button {
  padding: 1rem;
  margin: 0.5rem;
}

.display {
  width: 200px;
  height: 100px;
  background-color: antiquewhite;
}