* {
  box-sizing: border-box;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

ul {
  display: flex;
  gap: 1rem;
  margin: 1rem 0;
}

ul li {
  list-style-type: none;
}

ul li button {
  padding: 1rem;
  
  /* margin: 0.5rem; */
}

.display-container {
  width: 500px;
  height: 100px;
  background-color: antiquewhite;
  display: flex;
  justify-content: end;
  align-items: end;
}

.display {
  background-color: aliceblue;
}